@layer base {
  :root {
    --radius: 0.625rem;

    --background: var(--ctp-base);
    --foreground: var(--ctp-text);

    --card: var(--ctp-mantle);
    --card-foreground: var(--ctp-text);
    --popover: var(--ctp-mantle);
    --popover-foreground: var(--ctp-text);

    --primary-foreground: var(--ctp-base);

    --secondary: var(--ctp-surface0);
    --secondary-foreground: var(--ctp-text);

    --muted: var(--ctp-surface0);
    --muted-foreground: var(--ctp-subtext1);

    --accent: var(--ctp-surface1);
    --accent-foreground: var(--ctp-text);

    --destructive: var(--ctp-red);
    --destructive-foreground: var(--ctp-base);

    --border: var(--ctp-surface1);
    --input: var(--ctp-surface1);

    --chart-1: var(--ctp-red);
    --chart-2: var(--ctp-teal);
    --chart-3: var(--ctp-blue);
    --chart-4: var(--ctp-yellow);
    --chart-5: var(--ctp-green);

    --sidebar: var(--ctp-mantle);
    --sidebar-foreground: var(--ctp-text);
    --sidebar-primary-foreground: var(--ctp-base);
    --sidebar-accent: var(--ctp-surface0);
    --sidebar-accent-foreground: var(--ctp-text);
    --sidebar-border: var(--ctp-surface1);
    --sidebar-ring: var(--ctp-surface1);
  }
}
