@layer base {
  :root {
    --radius: 0.625rem;

    --background: var(--catppuccin-color-base);
    --foreground: var(--catppuccin-color-text);

    --card: var(--catppuccin-color-mantle);
    --card-foreground: var(--catppuccin-color-text);
    --popover: var(--catppuccin-color-mantle);
    --popover-foreground: var(--catppuccin-color-text);

    --primary-foreground: var(--catppuccin-color-base);

    --secondary: var(--catppuccin-color-surface0);
    --secondary-foreground: var(--catppuccin-color-text);

    --muted: var(--catppuccin-color-surface0);
    --muted-foreground: var(--catppuccin-color-subtext1);

    --accent: var(--catppuccin-color-surface1);
    --accent-foreground: var(--catppuccin-color-text);

    --destructive: var(--catppuccin-color-red);
    --destructive-foreground: var(--catppuccin-color-base);

    --border: var(--catppuccin-color-surface1);
    --input: var(--catppuccin-color-surface1);
    --input-secondary: var(--catppuccin-color-pink);

    --chart-1: var(--catppuccin-color-red);
    --chart-2: var(--catppuccin-color-teal);
    --chart-3: var(--catppuccin-color-blue);
    --chart-4: var(--catppuccin-color-yellow);
    --chart-5: var(--catppuccin-color-green);

    --sidebar: var(--catppuccin-color-mantle);
    --sidebar-foreground: var(--catppuccin-color-text);
    --sidebar-primary-foreground: var(--catppuccin-color-base);
    --sidebar-accent: var(--catppuccin-color-surface0);
    --sidebar-accent-foreground: var(--catppuccin-color-text);
    --sidebar-border: var(--catppuccin-color-surface1);
    --sidebar-ring: var(--catppuccin-color-surface1);
  }
}
