@layer base {
  :root,
  [data-theme="mauve"] {
    --primary: var(--catppuccin-color-mauve);
    --ring: var(--catppuccin-color-mauve);
    --sidebar-primary: var(--catppuccin-color-mauve);
  }

  [data-theme="rosewater"] {
    --primary: var(--catppuccin-color-rosewater);
    --ring: var(--catppuccin-color-rosewater);
    --sidebar-primary: var(--catppuccin-color-rosewater);
  }

  [data-theme="flamingo"] {
    --primary: var(--catppuccin-color-flamingo);
    --ring: var(--catppuccin-color-flamingo);
    --sidebar-primary: var(--catppuccin-color-flamingo);
  }

  [data-theme="pink"] {
    --primary: var(--catppuccin-color-pink);
    --ring: var(--catppuccin-color-pink);
    --sidebar-primary: var(--catppuccin-color-pink);
  }

  [data-theme="maroon"] {
    --primary: var(--catppuccin-color-maroon);
    --ring: var(--catppuccin-color-maroon);
    --sidebar-primary: var(--catppuccin-color-maroon);
  }

  [data-theme="red"] {
    --primary: var(--catppuccin-color-red);
    --ring: var(--catppuccin-color-red);
    --sidebar-primary: var(--catppuccin-color-red);
  }

  [data-theme="peach"] {
    --primary: var(--catppuccin-color-peach);
    --ring: var(--catppuccin-color-peach);
    --sidebar-primary: var(--catppuccin-color-peach);
  }

  [data-theme="yellow"] {
    --primary: var(--catppuccin-color-yellow);
    --ring: var(--catppuccin-color-yellow);
    --sidebar-primary: var(--catppuccin-color-yellow);
  }

  [data-theme="green"] {
    --primary: var(--catppuccin-color-green);
    --ring: var(--catppuccin-color-green);
    --sidebar-primary: var(--catppuccin-color-green);
  }

  [data-theme="teal"] {
    --primary: var(--catppuccin-color-teal);
    --ring: var(--catppuccin-color-teal);
    --sidebar-primary: var(--catppuccin-color-teal);
  }

  [data-theme="sky"] {
    --primary: var(--catppuccin-color-sky);
    --ring: var(--catppuccin-color-sky);
    --sidebar-primary: var(--catppuccin-color-sky);
  }

  [data-theme="sapphire"] {
    --primary: var(--catppuccin-color-sapphire);
    --ring: var(--catppuccin-color-sapphire);
    --sidebar-primary: var(--catppuccin-color-sapphire);
  }

  [data-theme="blue"] {
    --primary: var(--catppuccin-color-blue);
    --ring: var(--catppuccin-color-blue);
    --sidebar-primary: var(--catppuccin-color-blue);
  }

  [data-theme="lavender"] {
    --primary: var(--catppuccin-color-lavender);
    --ring: var(--catppuccin-color-lavender);
    --sidebar-primary: var(--catppuccin-color-lavender);
  }
}
